.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.postCards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.titlePosts {
  font-size: 1.5rem;
}